<!DOCTYPE html>
<html lang="ru">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="css/template.css">
<script src="scripts/main.js"></script>

<body>
    <!-- header -->
    {% include "./header.html" %}
    <!-- /header -->

    <!-- content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <!-- /content -->

    <!-- wow callback -->
    {% include "./callback.html" %}
    <!-- /wow callback -->

    <!-- footer -->
    {% include "./footer.html" %}
    <!-- /footer -->

    <!-- modal forms -->
    {% include "./forms.html" %}
    <!-- /modal forms -->

</body>

</html>